Topic: Create a notepad app 

Features: 
1. User can make a note 
2. User can make some text bold / underlined 
3. User can copy all text by click of a button 
4. User can see the list of notes made by user 
5. User can create a new note and can switch between notes 

Criteria of judgement:
- Responsive web app. 
- Completeness. 

Only use vanilla js. 
modules/libraries allowed.
frameworks not allowed.

Host on GitHub Pages