/* .prodiv{
   display:inline-block;
} */
* { border: 1px solid red; }
@media screen and (min-width: 583px) {
.prodiv{
    height: 90vh;
    padding: 0%;
    margin-bottom: 0;
    background-color: #212529;
}
.container1{
    display:inline-block;
    height: 100%;
    color: #ced4da;
    font-style: bold;
    font-size: 1.5rem;
    padding: 1%;
    border-bottom: 1rem solid blue;
    background-color: #212529;
    margin: 2rem 0.5rem 1rem 0;
    width:30%;
 
}
.container1 ul li{
    border-bottom:1px solid #fff;
    margin: 1.3rem;
    overflow: hidden;
    align-content: center;
}
/* #notesbox{
    background-color: darkgrey;    
    display:inline-block;
    width:100px;
    height:100px;
    right:auto;
} */

.container2{
   
    color: #ced4da;
    font-style: bold;
    font-size: 1.5rem;
    border: 2px solid blue;
    padding: 1%;
    border-radius: 2rem;
    height:100%;
    background-color: #212529;
    width:68%;
    margin: 2rem 0 1.5rem 0;
    float: right;
}
.container2>nav{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    background-color: #ced4da;
color: #212529;
}
.container2 >nav ul li{
display: inline-flex;
margin-left: 1.5rem;
margin-bottom: 1rem;
margin-top: 1.5rem;
}
.italic{
font-style: italic;
font-size: 1.5rem;
}
textarea{
    padding: 2rem;
    width: 100%;
    height: 55%;
    resize: none !important;
    border: 2px solid red;
    
}
h6{
    text-align: center;
}
.font-man{
    padding: 0.3rem;
    background-color: #dce0e4;
}
.new-items{
   float: right;
   margin-right: 1.5rem;
}
}
@media screen and (max-width: 583px){
    .prodiv{
        height: 90vh;
        padding: 0%;
        margin-bottom: 0;
        background-color: #212529;
    }
    .container1{
        display:none;
        height: 100%;
        color: #ced4da;
        font-style: bold;
        font-size: 1.5rem;
        padding: 1%;
        background-color: #212529;
        margin: 2rem 0.5rem 1rem 0;
        width:30.5%;
     
    }
    .container1 ul li{
        border-bottom:1px solid #fff;
        margin: 1.3rem;
        overflow: hidden;
        align-content: center;
    }
    /* #notesbox{
        background-color: darkgrey;    
        display:inline-block;
        width:100px;
        height:100px;
        right:auto;
    } */
    
    .container2{
       
        color: #ced4da;
        font-style: bold;
        font-size: 1.5rem;
        border: 2px solid blue;
        padding: 1%;
        border-radius: 2rem;
        height:100%;
        background-color: #212529;
        width:69%;
        margin: 2rem 0 1.5rem 0;
        
    }
    .container2>nav{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        background-color: #ced4da;
    	color: #212529;
    }
    .container2 >nav ul li{
    display: inline-flex;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    }
    .italic{
    font-style: italic;
    font-size: 1.5rem;
    }
    textarea{
        padding: 2rem;
        width: 100%;
        height: 55%;
        resize: none !important;
        border: 2px solid black;
        
    }
    h6{
        text-align: center;
    }
    .font-man{
        padding: 0.3rem;
        background-color: #dce0e4;
    }
    .new-items{
       float: right;
       margin-right: 1.5rem;
    }
}
.textarea{
    width: 100%;
    height: 100%;
    border: 2px solid red;
    background-color: ghostwhite;
}
